.game-zone {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(back.png);
}

.player {
    position: absolute;
    width: 78px;
    height: 77px;
    background-image: url(player-top.png);
    background-repeat: no-repeat;
}

.bullet {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(bullet.png);
    background-repeat: no-repeat;
}

.enemy {
    position: absolute;
    top: 500px;
    width: 78px;
    height: 77px;
    background-image: url(enemy-right.png);
    background-repeat: no-repeat;
}

.info {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
}

span {
    text-transform: uppercase;
    font-size: 20px;
}

.points{
    display: block;
}